.adminA{
    text-decoration: none;
    color: black;
}
.adminCard{
    box-shadow: 0px 0px 10px rgb(181, 175, 175);
    border-radius: 10px;
    width: 350px;
    text-align: center;
    height: 180px;
}

.adminTitle{
    color: rgb(14, 123, 224);
    margin-bottom: 0;
    
    padding-top: 5%;
}

.adminP{
    margin: 0;
}
.adminP2{
    margin-top: 0;
    margin-bottom: 5%;
}

.adminBtn{
    background-color: rgb(14, 123, 224) ;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}
.adminDiv1{
    display: flex;
    gap: 30px;
    margin-top: 7%;
}